:root {
/* MARGINS */
  --margin: 0.4vw;
  --font-size: 1.1vw;
  --grey: #b8b8b8;
}


body {
  padding: 0;
  min-width: 100vw; max-width: 100vw;
  max-height: 100vh; min-height: 100vh;
  overflow: hidden;
  background-color: var(--grey);
  /* overflow: hidden; */
  /* font-family: "source-serif-pro"; */
  /* font-family: serif; */
  font-family: "helvetica";
  font-size: var(--font-size);
  /* line-height: 1em; */
  font-weight: 200;
}

a {
  color: black;
}

a:hover, a:focus, a:checked {
  color: black;
  text-decoration: underline;
}

#header {
  display: flex;
  position: fixed;
  top: 0; left: 0; right: 0;
  justify-content: space-between;
  /* background: var(--grey); */
  z-index: 10;
  padding: 0vw var(--margin) 0.6vw var(--margin);
  line-height: 1.3em;
  background: linear-gradient(180deg, #83FCFC 0%, #83FCFC 50%, rgba(255, 255, 255, 0) 100%);
}

#header-right {
  display: inline-flex;
  column-gap: 1vw;
}

#photography-link {
  text-decoration: underline;
}

#header-left, #header span, #header a {
  cursor: pointer;
}

/* #header-right div, #header-right a, #header-left {
  margin: var(--margin);
} */

.marquee-container {
  /* padding-top: 1.4vw; */
  margin: 0; padding: 0;
  height: 100vh;
  /* display: flex; */
  /* overflow-x: hidden; */
  width: 100vw;
  overflow: hidden;
}

.marquee {
    display: flex;
    animation: marqueeAnimation 15s linear infinite; /* Change 15s to adjust speed */
}

@keyframes marqueeAnimation {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.marquee img {
  height: 100vh;
  width: auto;
  object-fit: contain;
}
